 .header {
      color:white;
      font-size:100px;
      font-family:verdana
        
    }
 
    .intro{
      color:white;
      background-color:blue;
      font-family:countier;
      text-align:center;
      height:1500px
    }
    .interests{
      background-color:red;
      width:%;
      font-family:courier;
    }
    
    
    
    
    
    
    body{
      background-color:green;
      text-align:center;
    }
    .content{
     text-align:center;
     background-color:yellow;
     width:90%; 
     height:500px;
     font-size:15px; 
    }
    .image{
      width:30%;
      height:300px
    }
